/* Container holding the image and the text */
.picture {
    position: relative;
    text-align: center;
    color: white;
    border: 5px solid black;
    box-sizing: border-box;
    width: 252px;
    height: 156px;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Background Colour */

.body {
    background-color:rgb(184, 68, 230)
}

.body2 {
    background-image:url('../images/banner-home.fc70d7f4.jpg')
}

/* Make specified text white */

.whitetext1 {
    color: white; font-size: 1vw
}

.whitetext2 {
    color: white; font-size: 2vw
}

.whitetext3 {
    color: white; font-size: 3vw
}
/* Make speciied text yellow */

.yellowtext {
    text-align:center; color:yellow; font-size:3vw
}

.yellowtext2 {
    text-align:center; color:yellow; font-size:2vw
}
.yellowtextL {
    text-align:left; color:yellow; font-size:3vw
}

/* Make speciied text red */

.redtext {
    color:darkred
}

/* Make speciied text red */

.blacktext {
    color:black
}

/* Picture formats - individual ID's */

#picture2 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 510px;
    height: 246px;
}

#picture3 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 534px;
    height: 586px;
}

#picture4 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 498px;
    height: 109px;
}

#picture5 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 413px;
    height: 279px;
}

#picture6 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 581px;
    height: 141px;
}

#picture7 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 497px;
    height: 213px;
}

#picture8 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 371px;
    height: 256px;
}

#picture9 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 949px;
    height: 173px;
}

#picture10 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 281px;
    height: 270px;
}

#picture11 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    width: 559px;
    height: 35px;
}
